@media screen and (max-width: 768px) {
    .pre-nav {
        flex-direction: column;
        justify-content: center;
    }

    .content {
        font-size: 1rem;
        
    }
}
body {

    height: 100%;
}


p{
    font-weight: bold;
    font-size: 20px;
}
.log {
    margin: 0 auto;
    width: 1050px;
    height: 800px;
    max-width: 100%;
}

table{
    border-spacing: 30px;
}
#click-log{
    background-color: #FFA37B;
    text-align: center;
    padding: 0.5rem 0.5rem;
    font-size: 25px;
    color: white;
    display: grid;
    margin-left: 300px;
    width: 400px;
    
}
#click-log:hover{
    background-image: linear-gradient(to bottom, #97e8ae, #3be36b);
}

#fg-pwd{
    text-align: center;
    font-size: 25px;
    color: blue;
    border: none;
    
}

#log-2{
    text-align: center;
    font-size: 25px;
    float: right;
    color: blue;
    border: none;
}